In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

In [3]:
df

  key1 key2     data1     data2
0    a  one -0.872011  0.168622
1    a  two  1.878797 -0.216086
2    b  one  0.322841  2.129953
3    b  two -0.775208 -2.510537
4    a  one  1.764107  0.655715

In [4]:
grouped = df['data1'].groupby(df['key1'])

In [5]:
grouped

In [6]:
grouped.mean()

key1
a    0.923631
b   -0.226184
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [8]:
means

key1  key2
a     one     0.446048
      two     1.878797
b     one     0.322841
      two    -0.775208
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a     0.446048  1.878797
b     0.322841 -0.775208